:root {
    --ivory-color: #eaffd0;
    /*rgb(234, 255, 208)*/
    --green-color: #468000;
    /* rgb(70, 128, 0) */
    --white-color: #ffffff;
    --darkblue-color: #3687c9;
    --lightblue-color: #c3dbef;
    --darkpurple-color: #8e6bae;
    --lightpurple-color: #d9cee4;
    --darkgreen-color:#628646;
    --lightgreen-color:#d7e4ce;
    --darkorange-color:#e66f00;
    --lightorange-color:#ffd7b3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav section */
header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: var(--ivory-color);
    box-shadow: 3px 9px 20px 0px rgba(0, 0, 0, 0.20);
}

nav {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.logo {
    color: var(--green-color);
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Audiowide';
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--green-color);
    padding: 10px;
    font-family: 'Iceland';
}

.navbar li {
    transition: 1s;
}

.navbar li:hover {
    transform: scale(1.3);
}

.navbar .active {
    color: var(--ivory-color);
    background-color: var(--green-color);
    border-radius: 12px;
}

/* banner section */
#banner {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

#banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 10;
    line-height: 40px;
    width: 90%;
}

.banner-text h1,
h3 {
    font-family: 'Audiowide';
}

.banner-text p {
    font-family: 'Iceland';
    font-size: 1.3rem;
}

.banner-text button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: #ffffff;
    color: #468000;
    font-family: 'Audiowide';
    cursor: pointer;
    border-radius: 10px;
}

.banner-text button:hover{
    background-color: #468000;
    color: #ffffff;
}

/* Banner Swiper */
#banner .swiper {
    width: 100%;
    height: 100%;
}

#banner .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* places section */
#places {
    width: 100%;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
}

.place_card_container {
    width: 95%;
}

.section-title {
    text-align: center;
    font-family: 'Audiowide';
    color: var(--green-color);
    margin-bottom: 3rem;
    font-size: 2rem;
}

.place-card-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 0 10px;
}

.place_card_container .card {
    background: var(--ivory-color);
    color: var(--green-color);
    border-radius: 12px;
    overflow: hidden;
    padding: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    line-height: 40px;
    min-width: 0;
    width: 100%;
}

.place_card_container img {
    width: 100%;
    border-radius: 8px;
}

.details {
    padding-top: 1rem;
    text-align: center;
}

.details h2 {
    font-family: 'Audiowide';
    margin-bottom: 15px;
}

.details h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Audiowide';
}

.details p {
    font-family: 'Iceland';
    font-size: 1.3rem;
    line-height: 1.6;
}

.details ul {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.details li {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Iceland';
    margin-bottom: 10px;
}

.place_card_container .card a {
    width: 30%;
    padding: 10px;
    text-decoration: none;
    background-color: var(--green-color);
    color: var(--ivory-color);
    font-size: 15px;
    font-weight: bold;
    font-family: 'Audiowide';
    border-radius: 10px;
    
}

/* place-card swiper */
.placeSwiper {
    width: 100%;
    height: 350px;
    border-radius: 12px;
    overflow: hidden;
}

.placeSwiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--ivory-color);
    font-family: 'Audiowide';
    text-shadow: 6px 5px 5px rgba(0, 0, 0, 0.5);
    font-size: 13px;

}

/* place card hover */
.analyst-card:hover {
    background-color: var(--lightblue-color);
    color: var(--darkblue-color);
}

.analyst-card:hover a{
    background-color: var(--white-color);
    color: var(--darkblue-color);
}

.analyst-card a:hover{
    background-color: var(--darkblue-color);
    color: var(--lightblue-color);
}

.diplomat-card:hover {
    background-color: var(--lightpurple-color);
    color: var(--darkpurple-color);
}

.diplomat-card:hover a{
    background-color: var(--white-color);
    color: var(--darkpurple-color);
}

.diplomat-card a:hover{
    background-color: var(--darkpurple-color);
    color: var(--lightpurple-color);
}

.sentinel-card:hover {
    background-color: var(--lightgreen-color);
    color: var(--darkgreen-color);
}

.sentinel-card:hover a{
    background-color: var(--white-color);
    color: var(--darkgreen-color);
}
.sentinel-card a:hover{
    background-color: var(--darkgreen-color);
    color: var(--lightgreen-color);
}

.explorer-card:hover {
    background-color: var(--lightorange-color);
    color: var(--darkorange-color);
}

.explorer-card:hover a{
    background-color: var(--white-color);
    color: var(--darkorange-color);
}

.explorer-card a:hover{
    background-color: var(--darkorange-color);
    color: var(--lightorange-color);
}

/* footer */
footer {
    height: 50px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--green-color);
    color: var(--ivory-color);
    font-weight: bold;
    font-family: 'Audiowide';
}

/* responsive */
@media(max-width:900px) {
    .navbar span {
        display: none;
    }

    footer {
        font-size: 12px;
    }

    #banner {
        height: 70vh;
    }

    .banner-text {
        line-height: 30px;
    }

    .banner-text h1 {
        font-size: 1.3rem;
    }

    .banner-text h3 {
        font-size: 1rem;
    }

    .place-card-card {
        grid-template-columns: 1fr;
    }

    .placeSwiper {
        height: 250px;
    }

}

@media(max-width:500px) {
    .logo {
        font-size: 18px;
    }

    .navbar {
        gap: 1rem;
    }

    #banner {
        height: 60vh;
    }

    #banner .swiper-slide img {
        object-position: center;
    }
    .section-title{
        font-size: 1.5rem;
    }
}